{% extends 'base.html' %}
{% block title %}Lavanderia{% endblock %}
{%block content%}
<div class="container mt-4">
    <h1>Hola Bienvenido, {{request.user.first_name}} a la Lavanderia</h1>
    <p>Has iniciado sesión correctamente</p>
</div>
{% endblock %}

<div class="parent">
    <div class="div1">1</div>
    <div class="div2">2</div>
    <div class="div4">4</div>
    <div class="div5">5</div>
    <div class="div8">8</div>
    <div class="div15">15</div>
    <div class="div16">16</div>
    <div class="div17">17</div>
</div>
    